@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.title {
  font-family: "Fira Sans";
  font-weight: 800;
  font-size: 32px;
  border-style: none;
  overflow: auto;
  resize: none;
  text-align: center;
  height: 40px;
  width: 550px;
  padding-bottom: 20px;
}

textarea::placeholder {
  color: #A9A9A9;
}

.header {
  font-weight: 800;
  font-size: 48px;
}

.subheader {
  font-style: italic;
  font-size: 24px;
}

.option {
  color: black;
  background-color: white;
  font-size: 24px;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.option:hover {
  color: white;
}

.option:active {
  transform: translateY(4px);
}

#option0 {
  border-color: orange;
  margin-right: 30px;
}

#option0:hover {
  background-color: orange;
}

#option0:active {
  background-color: #cc8500;
}

#option1 {
  border-color: blue;
  margin-left: 30px;
}

#option1:hover {
  background-color: blue;
}

#option1:active {
  background-color: #0000b3;
}

.footer {
  font-size: 12px;
  padding-top: 15px;
  bottom: 5px;
  width: 100%;
}
